<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="Listar Empresas" name="tela_listar_empresas" version="0.1.0">

    <details>
        <title>Listar empresas</title>
        <homepage>http://45.77.114.212</homepage>
        <authors>Matheus Alves</authors>
        <email>matheuseejam@gmail.com</email>
        <image></image>
        <smartphoneimage></smartphoneimage>
        <description>Essa tela lista as empresas recebidas</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/userguide.md</doc>
        <license>MIT</license>
        <issuetracker></issuetracker>
    </details>

    <requirements>
    </requirements>

    <preferences>
    </preferences>

    <wiring>
    <inputendpoint name="empresas" type="text" label="Empresas" description="Essa entrada deve receber um vetor de empresas." actionlabel="Empresas" friendcode="Empresas"/>
    <outputendpoint name="empresa" type="text" label="Empresa" description="Essa saida vai devolver uma empresa selecionada." friendcode="Empresa"/>
    </wiring>

    <contents src="index.html"/>
    <rendering height="300px" width="30%"/>

</widget>
